.video-container{
  .video-list{
    max-width: 900px;
    margin: auto;
    .video-card {
      max-width: 400px;
    }
  }
  .pagination{
    padding: 1em;
    display: flex;
    justify-content: center;
    button{
      margin: 10px;
    }
  }
  
}
